.list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.heading {
  color: #00e7ff;
  font-size: 20px;
}
.coin-image {
  width: 60%;
}
.list-details {
  border: 3px solid #00e7ff;
  width: 80%;
  border-radius: 10px;
}
.heading-container {
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  background-color: #092e33;
  padding-left: 20px;
  padding-right: 20px;
}
.coin-type {
  color: hsl(0, 0%, 100%);
  font-size: 15px;
  margin-right: 50px;
}
.coin-from {
  display: flex;
  justify-content: space-between;
}
.list-item-container {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  align-items: flex-start;
  padding: 0px;
}

@media screen and (min-width: 768px) {
  .heading {
    font-size: 30px;
  }
}
